<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link href="~/css/admin4b.min.css" rel="stylesheet">
    <link href="~/css/admin4b-highlight.min.css" rel="stylesheet">
</head>
<body>
    <div class="app">
        <div class="app-body">
            <div class="app-sidebar sidebar-dark sidebar-slide-left">
                <div class="text-right">
                    <button type="button" class="btn btn-sidebar" data-dismiss="sidebar">
                        <span class="x"></span>
                    </button>
                </div>
                <div class="sidebar-header">
                    <img src="~/images/user-photo.png" class="user-photo">
                    <p class="username">
                        Pradeep Pointi
                        <small>Administrator</small>
                    </p>
                </div>
                <div id="sidebar-nav" class="sidebar-nav" data-children=".sidebar-nav-group">
                    <a href="./index.html" class="sidebar-nav-link">
                        <i class="icon-rocket"></i> Dashboard
                    </a>
                    <div class="sidebar-nav-group">
                        <a href="#InitialStateReport" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav">
                            <i class="icon-puzzle"></i> Initial State Report
                        </a>
                        <div id="InitialStateReport" class="sidebar-nav-group collapse">
                            <a href="#" class="sidebar-nav-link">Personal Details</a>
                            <a href="#" class="sidebar-nav-link">Questionnaire Details </a>
                            <a href="#" class="sidebar-nav-link">Queries </a>
                        </div>

                    </div>
                    <div class="sidebar-nav-group">
                        <a href="#DecisionReport" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav">
                            <i class="fa fa-bell-o"></i> Decision Report
                        </a>
                        <div id="DecisionReport" class="sidebar-nav-group collapse">
                            <a href="#" class="sidebar-nav-link">Personal Details</a>
                            <a href="#" class="sidebar-nav-link">Questionnaire </a>
                            <a href="#" class="sidebar-nav-link">Interview Outcome </a>
                            <a href="#" class="sidebar-nav-link">Advise Provided</a>
                            <a href="#" class="sidebar-nav-link">Target State</a>
                            <a href="#" class="sidebar-nav-link">Challenges & Solutions </a>
                            <a href="#" class="sidebar-nav-link">Risks & Mitigation </a>
                        </div>

                    </div>
                    <div class="sidebar-nav-group">
                        <a href="#3" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav">
                            <i class="icon-layers"></i>Frequent Operations
                        </a>
                        <div id="3" class="sidebar-nav-group collapse">
                            <a href="#" class="sidebar-nav-link">Weekly Inquiries </a>
                            <a href="#" class="sidebar-nav-link">Financial Status </a>
                            <a href="#" class="sidebar-nav-link">Follow ups </a>

                        </div>

                    </div>
                </div>
                <div class="sidebar-footer">
                    <a href="#" data-toggle="tooltip" title="Support">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="#" data-toggle="tooltip" title="Settings">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a href="./signin.html" data-toggle="tooltip" title="Logout">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
            </div>
            <div class="app-content">
                <nav class="navbar navbar-expand navbar-light bg-white">
                    <button type="button" class="btn btn-sidebar" data-toggle="sidebar">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="navbar-brand">
                        Nitai Solutions
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="badge badge-pill badge-primary">3</span>
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">
                                    <small class="text-secondary">10 New members </small><br>
                                    <div>Message...</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <small class="text-secondary">5 Reports Generated</small><br>
                                    <div>Message...</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <small class="text-secondary">10 Enquries</small><br>
                                    <div>Message...</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-primary">
                                    See all notifications
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Get started</li>
                    </ol>
                </nav>
                <div class="container-fluid">

                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
</body>
</html>
